body {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  color: #58585A;

}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 2% auto;
  color: #005DAA;
  }

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 2% auto;
  }

.header-logo {
  display: flex;
  height: 8vh;
  padding: 4px;
  flex-direction: row;
  justify-content: center;
  }

.header-logo img{
height: 8vh;
padding: 4px;
flex-direction: row;
justify-content: center;
}

 /* Holds the background image on the homepage */
.container {
  display: flex;
  flex-direction: wrap;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/hands-in.jpeg");
  background-repeat: no-repeat;
  height: 70vh;
  background-size: cover;
  /* background-color: aqua;   */
  background-attachment: scroll;
  background-position: center;
  margin: 15px 10px;
}

/* .donate-button button {
 font-family: 'Open Sans', sans-serif;
 background-color: #F7A81B;
 border: none;
 border: 2px solid #f7e7ce; 
 color: #005DAA;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 40px;
 opacity: 100%;
 border-radius: 7px;
 width: 220px;
 padding: 8px;
} */

 /* button:hover {
  background-color: #FBC533;
  color: #0077DA;
  opacity: 100%;
} */


/* What we do page */
.whatwedophoto{
  position: relative;
  display: flex;
  flex-direction: wrap;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/two_boys_phil.jpg");
  background-repeat: no-repeat;
  height: 25vh;
  background-size: cover;
  /* background-color: aqua;   */
  background-attachment: scroll;
  background-position: center;
}


.What-We-Do p {
width: 70%;
margin: 2% auto;
}

/* Get Involved page */
.getinvolvedphoto{
  display: flex;
  /* flex-flow: row wrap; */ 
  flex-direction: wrap;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/two_boys_phil.jpg");
  background-repeat: no-repeat;
  height: 25vh;
  background-size: cover;
  /* background-color: aqua;   */
  background-attachment: scroll;
  background-position: center;
}

.get-involved h2 {
  width: 70%;
  margin: 2% auto;
  text-align: center;
  }

.get-involved p {
width: 70%;
margin: 2% auto;
text-align: center;
}

a.button {
  align-self: flex-end;
  /* -webkit-appearance: button;
  -moz-appearance: button; */
  /* appearance: button; */
  text-decoration: none;
  background-color: #F7A81B;
  color: #0077DA;
  width: 80%;
  /* justify-content: center;
  align-items: center; */
}

/* flip card trial */
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */

.flip-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.get-involved-flip-cards {
  flex: 0 1 24%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  margin: 4px;
  background-color: transparent;
  height: 200px;
  /* border: 5px solid grey; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner-1 {
  display: flex;
  position: relative;
  /* width: 100%; */
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
/* .get-involved-flip-cards:hover */ .flip-card-inner-1:hover {
  transform: rotateY(180deg);
}

.flip-card-inner-2{
  position: relative;
  width: auto;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  /* margin: 0 0 0 16px; */
}

/* Do an horizontal flip when you move the mouse over the flip box container */
/* .get-involved-flip-cards:hover */ .flip-card-inner-2:hover {
  transform: rotateY(180deg);
}

.flip-card-inner-3 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  /* margin: 0 0 0 16px; */
}

/* Do an horizontal flip when you move the mouse over the flip box container */
/* .get-involved-flip-cards:hover */ .flip-card-inner-3:hover {
  transform: rotateY(180deg);
}

.flip-card-inner-4 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  /* margin: 0 0 0 16px; */
}

/* Do an horizontal flip when you move the mouse over the flip box container */
/* .get-involved-flip-cards:hover */ .flip-card-inner-4:hover {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: scroll;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  justify-content: center;
  align-items: center;
  background-color: #005DAA; 
  color: white;  
}

/* Style the back side */
.flip-card-back {
  justify-content: center;
  align-items: center;
  background-color: #0077DA;
  color: white;
  transform: rotateY(180deg);
}
/* flip card trial has ended */


/* corporate involvement page */
.corpinvolvedphoto {
  display: flex;
  flex-direction: wrap;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/packing_happy.jpeg");
  background-repeat: no-repeat;
  height: 25vh;
  background-size: cover;
  /* background-color: aqua;   */
  background-attachment: scroll;
  background-position: center;
}

/* navigation bar */
nav {
  font-family: 'Open Sans', sans-serif;
  text-align: right;
  width: 100vw;
  /* background-color: black; */
  color: #005DAA;
  height: 100%;
  border-bottom-style: inset;
  border-width: 5px;
  border-bottom-color: #005DAA;
  /* border-bottom: 5px green; */
}

nav a {
  color: #005DAA;
  text-decoration: none;
  display: inline-block;
  padding: 8px;
}

nav a:hover {
  /* font-size: 125%; */
  text-shadow: 1px 1px;
}


/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  height: 10vh;
  width: 100vw;
  bottom: 0;
}

footer img {
justify-content: center;
height:5em;
width: 15em;
margin: 2px auto 0 auto;
}

.footer-align-image {
  display: flex;

  }


/* contact us page */
.contactusphoto{
  display: flex;
  flex-direction: wrap;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/two_boys_phil.jpg");
  background-repeat: no-repeat;
  height: 25vh;
  background-size: cover;
  /* background-color: aqua;   */
  background-attachment: scroll;
  background-position: center;
}

.form h3 {
    width: 70%;
    margin: 2% auto;
    text-align: center;
}

form {
display: block;
text-align: center;
font-size: 18px;
font-family: 'Open Sans', sans-serif;
}

/* This is the message area where body of message is typed into the form*/
textarea {
  width: 30%;
  height: 12vh;
  font-size: 18px;
}


/* name and email input boxes on contact form */
input[type=text] {
  width: 30%;
  height: 4vh;
  font-size: 18px;
  
}

/* submit button styling */
input[type=submit] {
  font-family: 'Open Sans', sans-serif;
  background-color: #F7A81B;
  border: none;
  /* border: 2px solid #f7e7ce; */
  color: #005DAA;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  opacity: 100%;
  border-radius: 7px;
  width: 20%;
  padding: 8px;
  /* padding:5px 15px; 
  background:#ccc; 
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;  */
}







