body {
  /* display: flex; */
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}

 /* Holds the background image on the homepage */
.container {
  background-image: url("./assets/hands-in.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
  align-items: center;
}


/* Build body section for homepage */
.What-We-Do h3 {
  width: 70%;
  margin: 2% auto;
  }

.What-We-Do p {
width: 70%;
margin: 2% auto;
}

/* What we do page */
.driving-force {
  background-color: white;
  font: white;
  margin: 50%;
}

nav {
  font-family: 'Raleway', sans-serif;
  text-align: right;
  background-color: black;
  color: white;
  height: 5vh;

}

nav a {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 8px;
}

nav a:hover {
  font-size: 125%;
}

img {
  width: 100%;
}



footer {
  background-color: black;
  align-items: center;
  margin: 2px auto 0 auto;
}

footer img {
height:5em;
width: 15em;
margin: 2px auto 0 auto;
align-self: center;
}



