body {
  /* display: flex; */
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  
}

.container {
  background-image: url("./assets/hands-in.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.driving-force {
  background-color: red;
  font: white;
  margin: 50%;
}

.What-We-Do h3 {
  width: 70%;
  margin: 2% auto;
  }

.What-We-Do p {
width: 70%;
margin: 2% auto;
}

nav {
  font-family: 'Raleway', sans-serif;
  text-align: right;
  background-color: black;
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 8px;
}

nav a:hover {
  font-size: 125%;
}

img {
  width: 100%;
}



footer {
  background-color: black;
 
}

footer img {
height:5em;
width: 15em;
align-self: center;
}



